* {
  font-family: 'AileronRegular'
}

.navbar-container{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b1b1b;
  padding: 10px 0;
}

.navbar-container *{
  color: white;
}

.navbar-container ul{
  display: flex;
  width: 400px;
  padding-right: 30px;
  margin: 0 !important;
}

.navbar-container li{
  list-style: none;
}

.navbar-container a{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width:100px;
  height: 50px
}

.navbar-container a:hover{
  background-color: #414141
}

.navbar-container h1{
  font-size: 25px;
  padding-left: 30px;
  font-weight: 500;
}

.dropdown-options{
  display: none;
  top: 50px;
  width: 220px
}

.hamburger{
  height: 20px;
  width: 20px;
  margin-right: 20px;
  display: none;
}

.hamburger div{
  width: 100%;
  height: 4px;
}

.hamburger .white{
  background-color: white;
}

.hamburger .black{
  background-color: #1b1b1b;
}

@media screen and (max-width: 750px){
  .navbar-container ul{
    display: none
  }

  .navbar-container h1{
    padding-left: 10px;
  }

  .hamburger{
    display: block;
  }

  .dropdown-options{
    background-color: #1b1b1b;
    position: absolute;
    right: 0;
  }

  .dropdown-options ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .dropdown-options ul a{
    width: 100%;
    border-bottom: 1px solid rgb(226, 226, 226)
  }

  .dropdown-options ul li{
    text-align: center;
    padding: 10px 0;
  }
}